PG_DATABASE_NAME=avito_pr
PG_USER=postgres
PG_PASSWORD=postgres
PG_PORT=5432
MIGRATION_DIR=migrations

PG_DSN=postgres://postgres:postgres@localhost:5432/avito_pr?sslmode=disable

HTTP_HOST=0.0.0.0
HTTP_PORT=8080
